---

# **Módulo 01** | Python: Variáveis & Tipos de Dados
Caderno de **Aula**<br>
Professor [Jailson Carvalho](https://www.linkedin.com/in/jailson-carvalhos/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

## 2\. Variáveis

### **2.1. Definição**

Mecanismo de armazenamento volátil de dados, ou seja, dados salvos em pedacinhos da memória RAM do sistema computacional em uso (notebook, mobile, console de vídeo game, smartwatch, etc.).

In [ ]:
idade = 33
print(idade)

nome = 'Jailson Carvalho'
print(nome)

33
Jailson Carvalho

**2.2. Tipos nativos**

**Tipos numéricos:** inteiros (`int`) e decimais (`float`):

In [ ]:
preco = 1000
tipo_preco = type(preco)

print(preco)
print(tipo_preco)

1000
<class 'int'>

In [ ]:
preco = 0.05
tipo_preco = type(preco)

print(preco)
print(tipo_preco)

0.05
<class 'float'>

**Tipos de texto:** *strings* (`str`):

In [ ]:
primeiro_nome = 'Jailson Carvalho'
tipo_nome = type(primeiro_nome)

print(primeiro_nome)
print(tipo_nome)

Jailson Carvalho
<class 'str'>

In [ ]:
pais = 'Brasil'

print(pais)
print(type(pais))

Brasil
<class 'str'>

**Tipos lógicos:** booleanos (`bool`):

In [ ]:
usuario_maior_de_idade = False
print(type(usuario_maior_de_idade))

<class 'bool'>

**Tipo Vazio:** (`None`):

In [ ]:
telefone_fixo = None
print(type(telefone_fixo))

<class 'NoneType'>

## 3\. Números

### **3.1. Motivação**

Você precisa calcular o **ticket médio** diário `tkt` do seu restaurante. A métrica é calculada pela soma do valor das vendas `svv` de um mesmo dia dividido pela quantidade de vendas `sqv`, também de um mesmo dia.

$tkt = svv / sqv$

Esta é a sua planilha:

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|-|
| 19/01 | 153.98             | 3                |?|
| 20/01 | 337.01             | 7                |?|
| 23/01 | 295.33             | 5                |?|

Como podemos fazer este cálculo usando o Python?

### **3.2. Definição**

Armazenam **valores numéricos**:

*   `10, 37, 500` (inteiros);
*   `0.333, 10.1` (decimais);
*   `1 + 2j` (complexos).

São dos tipos:

*   `int` (inteiros);
*   `float` (decimais);
*   `complex` (complexos).

In [ ]:
print(type(37))
print(type(10.1))
print(type(1 + 2j))

<class 'int'>
<class 'float'>
<class 'complex'>

### **3.3. Operações**

As operações dos tipos numéricos são as quatro operações matemáticas fundamentais:

*   `+` (soma);
*   `-` (subtração);
*   `*` (multiplicação);
*   `/` (divisão).

Além de operações mais avançadas:

*   `//` (divisão inteira)
*   `**` (potência ou exponenciação);
*   `%` (resto de divisão).

**Exemplo**: Carrinho de compra de um *e-commerce*.

In [ ]:
# o carrinho começa com o valor 0
qtd_itens_carrinho_compra = 0

# incrementar, somar + 1.
# repete a variável (qtd_itens_carrinho_compra), e atribui a mesma variavel somando + 1 (qtd_itens_carrinho_compra + 1).
qtd_itens_carrinho_compra = qtd_itens_carrinho_compra + 1

# imprimir na tela
print(qtd_itens_carrinho_compra)

# caso o cliente compre mais itens, repete o processo.
qtd_itens_carrinho_compra = qtd_itens_carrinho_compra + 1
print(qtd_itens_carrinho_compra)

# caso o cliente retire um iten do carrinho, atribuir o sinal de subtração.
qtd_itens_carrinho_compra = qtd_itens_carrinho_compra - 1
print(qtd_itens_carrinho_compra)

1
2
1

**Uma outra forma de chegar ao mesmo resultado**

In [ ]:
qtd_items_carrinho_compra = 0

qtd_items_carrinho_compra += 1
print(qtd_items_carrinho_compra)

qtd_items_carrinho_compra += 1
print(qtd_items_carrinho_compra)

1
2

**Exemplo**: Total a pagar de um produto.

In [ ]:
# Quanto temos que pagar por uma quantidade de intens?
preco = 24.31
qtd = 0.557

# Fazemos uma nova variiável que vai receber a multiplicação
total_a_pagar = preco * qtd
# imprimir o resultado
print(f'Total a ser pago: R$ {total_a_pagar:.2f}')

Total a ser pago: R$ 13.54

In [ ]:
a = 3
b = 2

c = a / b
print(c)
print(type(c))

d = a // b
print(d)
print(type(d))

1.5
<class 'float'>
1
<class 'int'>

### **3.4. Conversão**

Podemos converter os tipos numéricos entre si utilizando o método nativo `int`, `float` e `complex`:

In [ ]:
print(int(3.9))

3

In [ ]:
print(float(10))

10.0

In [ ]:
print(complex(1))

(1+0j)

### **3.5. Revisitando a motivação**

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|-|
| 19/01 | 153.98             | 3                |?|
| 20/01 | 337.01             | 7                |?|
| 23/01 | 295.33             | 5                |?|

Ticket médio diário do dia 19/01.

In [ ]:
svv = 153.98  # Soma do valor de vendas
sqv = 3  # Soma da quantidade vendida

tkm_19 = svv / sqv
print(f'Tiket Médio: R${tkm:.2f}.')

Tiket Médio: R$59.07.

Ticket médio diário do dia 20/01.

In [ ]:
svv = 337.01  # Soma do valor de vendas
sqv = 7  # Soma da quantidade vendida

tkm_20 = svv / sqv
print(f'Tiket Médio: R${tkm:.2f}.')

Tiket Médio: R$59.07.

Ticket médio diário do dia 23/01.

In [ ]:
svv = 295.33  # Soma do valor de vendas
sqv = 5  # Soma da quantidade vendida

tkm_23 = svv / sqv
print(f'Tiket Médio: R${tkm:.2f}.')

Tiket Médio: R$59.07.

Tiket Médio Geral

In [ ]:
tkmg = (tkm_19 + tkm_20 + tkm_23) / 3
print(f'Tiket Médio Geral é: R${tkmg:.2f}.')

Tiket Médio Geral é: R$52.85.

## 4\. *Strings*

### **4.1. Motivação**

A empresa que você trabalha adquiriu uma *startup* de logística. Você precisa identificar todos endereços que são comum a ambas. Na sua empresa, você armazena a latitude e longitude dos endereços em duas variáveis `lat` e `lon`, já a *startup* adquirida em uma única variável `latlon`.

In [ ]:
# sua empresa
lat = '-22.005320'
lon = '-47.891040'

# startup adquirida
latlon = '-22.005320;-47.891040'

Como podemos normalizar a forma com que as latitudes e longitudes são armazenadas para possam ser comparadas?

### **4.2. Definição**

Armazenam **textos**:

*   `c`, `EBAC`, `Jailson Carvalho, 35 anos` (texto)

São do tipo `str`:

In [ ]:
nome_aula = 'Aula 04, Módulo 01, Strings'

print(nome_aula)
print(type(nome_aula))

Aula 04, Módulo 01, Strings
<class 'str'>

In [ ]:
string_vazia = ""

print(string_vazia)
print(type(string_vazia))

<class 'str'>

### **4.3. Operações**

As operações de variáveis do tipo *string* são:


*   `+` (concatenação).

**Exemplo:** Nome completo.

In [ ]:
nome = 'José Jailson'
sobrenome = 'de Carvalho'

# para juntar/concatenar as duas string
apresentacao = 'Olá, meu nome é ' + nome + ' ' + sobrenome + '.'
print(apresentacao)

Olá, meu nome é José Jailson de Carvalho.

Uma outra forma de concatenar strings é utilizar operações de formatação:

In [ ]:
nome = 'José Jailson'
sobrenome = 'de Carvalho'

# OUTRA FORMA para juntar/concatenar as duas string
concatenacao = f'Olá, meu nome é {nome} {sobrenome}.'
print(concatenacao)

Olá, meu nome é José Jailson de Carvalho.

Outra operação muito utilizada é a de fatiamento (*slicing*):

**Exemplo**: Informações de email.

In [ ]:
email = 'jailsoncarvalho@gmail.com'

In [ ]:
# vamos descobrir qual letra está na posição 0 e 11 do meu email
print('0: ' + email[0])
print('11: ' + email[11])

0: j
11: a

In [ ]:
# Fazer o mesmo de trás para a frente
print('- 1: ' + email[-1])
print('- 2: ' + email[-2])

- 1: m
- 2: o

Fatiamento por intervalo:

In [ ]:
email_usuario = email[0:15]
print(email_usuario)

jailsoncarvalho

In [ ]:
# passamos dois indices [0:12]
email_provedor = email[15:27]
print(email_provedor)

@gmail.com

In [ ]:
# vou concatenar as duas extrações
concatenacao = email_usuario + email_provedor
print(f'E-mail: {concatenacao}')

E-mail: jailsoncarvalho@gmail.com

### **4.4. Métodos**



São métodos nativos do Python que nos ajudam a trabalhar no dia a dia com strings.

In [ ]:
endereco = 'Avenida Paulista, 1811, São Paulo, São Paulo, Brasil.'

In [ ]:
# maiusculo: string.upper()
print(endereco.upper())

AVENIDA PAULISTA, 1811, SÃO PAULO, SÃO PAULO, BRASIL.

In [ ]:
# posicao: string.find(substring)
posicao = endereco.find('Brasil')
print(posicao)

46

In [ ]:
# substituição: string.replace(antigo, novo)
print(endereco.replace('Avenida', 'Av'))

Av Paulista, 1811, São Paulo, São Paulo, Brasil.

### **4.5. Conversão**

Podemos converter *strings* em tipos numéricos e vice-versa

In [ ]:
idade = 19
print(idade)
print(type(idade))

# transfomando o número inteiro em um astring
idade = str(idade)
print(idade)
print(type(idade))

19
<class 'int'>
19
<class 'str'>

In [ ]:
faturamento = 'R$ 35 mi'
print(faturamento)
print(type(faturamento))

faturamento = int(faturamento[3:5])
print(faturamento)
print(type(faturamento))

R$ 35 mi
<class 'str'>
35
<class 'int'>

### **4.6. Revisitando a motivação**

Encontrando a posição do caracter `;` de divisão das *strings* de latitude e longitude da variável da startup:

In [ ]:
posicao_char_divisao = latlon.find(';')
print(posicao_char_divisao)

10

Extraindo a latitude:

In [ ]:
lat_startup = latlon[0:posicao_char_divisao]
print(lat_startup)

-22.005320

Extraindo a longitude:

In [ ]:
#quando fazemo isso vamos até a última posição da str. len(latlon)]
lon_startup = latlon[posicao_char_divisao+1:len(latlon)]
print(lon_startup)

-47.891040

## 5\. Boleanos

### **5.1. Motivação**

Em *websites* (redes sociais, *e-commerce*, corporativos, etc.) é comum o uso de sistemas de controle de acesso, o famoso *login*. Em geral, nestes sistemas um usuário fornece dois dados: `usuario` e `senha`:

In [12]:
usuario = 'Jailson_Carvalho'
senha = 'jailson058'

Do lado do servidor, o *backend* do *website* tem armazenado os dados de usuário e senha fornecidas pelo usuário no momento do cadastro: `usuario_cadastro` e `senha_cadastro`:

In [13]:
usuario_cadastro = 'Jailson_Carvalho'
senha_cadastro = 'jailson058'

Como comparamos se as *strings* (`usuario`, `usuario_cadastro`) e (`senha`,`senha_cadastro`) são iguais para conceder ou bloquear o acesso do usuário?

### **5.2. Definição**

Armazenam **valores lógicos**:

*   `True` (verdadeiro);
*   `False` (falso).

In [2]:
verdadeiro = True
print(verdadeiro)

True

In [3]:
falso = False
print(falso)

False

São resultados de comparações lógicas. Os operadores de comparação lógica são:

*   `>` (maior);
*   `<` (menor);
*   `==` (igual);
*   `>=` (maior ou igual);
*   `<=` (menor ou igual);
*   `!=` (diferente).

**Exemplo:** Caixa eletrônico

In [5]:
saldo_em_conta = 200
valor_do_saque = 100

pode_executar_saque = saldo_em_conta >= valor_do_saque
print(pode_executar_saque)

True

**Exemplo:** Cartão de crédito

In [6]:
codigo_de_seguranca = '852'
codigo_de_seguranca_cadastro = '010'

pode_efetuar_pagamento = codigo_de_seguranca == codigo_de_seguranca_cadastro
print(pode_efetuar_pagamento)

False

### **5.3. Operações**

As operações de variáveis booleanas são:

* `|` (operador ou)
* `&` (operador e)
* `not` (operador não)


O conjunto de resultados de operações lógicas geralmente é resumido em uma tabela chamada "tabela da verdade":

| A        | B        | | | A OR B   | | A AND B  | | NOT A    |
|----------|----------|-|-|----------|-|----------|-|----------|
| **TRUE** | **TRUE** | | | **TRUE** | | **TRUE** | | FALSE    |
| **TRUE** | FALSE    | | | **TRUE** | | FALSE    | | FALSE    |
| FALSE    | FALSE    | | | FALSE    | | FALSE    | | **TRUE** |
| FALSE    | **TRUE** | | | **TRUE** | | FALSE    | | **TRUE** |

**Exemplo**: Tabela da verdade do operador `|` (ou).

In [7]:
print(True | True)
print(True | False)
print(False | False)
print(False | True)

True
True
False
True

**Exemplo**: Tabela da verdade do operador `&` (e).

In [8]:
print(True & True)
print(True & False)
print(False & False)
print(False & True)

True
False
False
False

**Exemplo**: Tabela da verdade do operador `not` (não).

In [9]:
print(not True)
print(not False)

False
True

### **5.4. Conversão**

Podemos converter tipos numéricos e *strings* para booleanos através do método nativo `bool`:

In [10]:
idade = 19
tipo_sangue = 'O-'
filhos = 0
telefone_fixo = None
telefone_fixo = ''

print(bool(idade))
print(bool(tipo_sangue))
print(bool(filhos))
print(bool(telefone_fixo))
print(bool(telefone_fixo))

True
True
False
False
False

### **5.5. Revisitando a motivação**

Compara se os dados fornecidos pelo usuário são iguais aos dados do cadastro:

In [14]:
usuario_igual = usuario == usuario_cadastro
senha_igual = senha == senha_cadastro

print(usuario_igual)
print(senha_igual)

True
True

Decide se concede o acesso:

In [15]:
conceder_acesso = usuario_igual & senha_igual
print(conceder_acesso)

True